.mainspace
  .header
    .groups
      .groups__group
        = @group.name
      .groups__edit
        =link_to edit_group_path(current_user) do
          EDIT
    .members
      .members__member
        %p MEMBER: isikawa
  .body
    .messages
      = render @messages
  .footer
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'messageform', placeholder: 'type a message'
        = f.submit 'Send', class: 'form__submit'
        .form_mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'

    / %form{action: ""}
    /   %input{type: "text", class: "messageform", placeholder: "type a message"}
    /   .form_mask
    /     %label{for: "photos",class: "icon"}
    /       %i.fa.fa-picture-o.fa-lg
    /     %input{style: "display:none", type: "file", class: "imageform", id: "photos"}
    /   %input{type: "submit", value: "Send", class: "send-button"}
= render partial: 'sidebar'
